.sidebar-header img {
  max-height: 2rem;
}

.sidebar-container div.sidebar-item > button,
.sidebar-container div.sidebar-item > a {
  font-weight: 500;
}

.sidebar-container div.sidebar-item[data-selected='true'] > button,
.sidebar-container div.sidebar-item[data-selected='true'] > a {
  font-weight: 600;
}
